<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-icon name="ribbon" class="ion-margin-end"></ion-icon>Approved Licencees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button fill = "outline" color = "primary" (click)="gotocustomers()"> customers</ion-button>
<ion-button fill = "outline" color = "primary" (click)="gotocustomersDetails()"> customer Details</ion-button>

</ion-content>
