<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-icon name="ribbon" class="ion-margin-end"></ion-icon>Approved Institutions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Social Networks</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ion-list>

              <ion-item>
                <ion-avatar slot="start">
                  <i class="fad fa-globe fa-2x"></i>
                </ion-avatar>
                <ion-label>
                  <a href="https://www.cma.or.ke/">
                  <h4>CMA Website</h4>
                  <p>www.cma.or.ke</p>
                  </a>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-avatar slot="start">
                  <i class="fab fa-facebook fa-2x"></i>
                </ion-avatar>
                <ion-label>
                  <a href="https://web.facebook.com/cmakenya">
                  <h4>Facebook</h4>
                  <p>@cmakenya</p>
                  </a>
                </ion-label>
              </ion-item>
      
              <ion-item>
                <ion-avatar slot="start">
                  <i class="fab fa-twitter fa-2x"></i>
                </ion-avatar>
                <ion-label>
                  <a href="https://twitter.com/cmakenya/">
                    <h4>Twitter</h4>
                    <p>@CMAKenya</p>
                  </a>
                </ion-label>
              </ion-item>
      
              <ion-item>
                <ion-avatar slot="start">
                  <i class="fab fa-youtube fa-2x"></i>
                </ion-avatar>
                <ion-label>
                  <a href="https://www.youtube.com/user/kenyacma">
                    <h4>Youtube</h4>
                    <p>www.youtube.com/user/kenyacma</p>
                  </a>
                </ion-label>
              </ion-item>
            </ion-list>
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Contact Information</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7921267976863!2d36.811777413802155!3d-1.2995261360049624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1181c77725f5%3A0x456eba573b148602!2sCapital%20Markets%20Authority!5e0!3m2!1sen!2ske!4v1632582087305!5m2!1sen!2ske" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <ion-list>

              <ion-item>
                <ion-avatar slot="start">
                  <i class="fad fa-map-marker-alt fa-2x"></i>
                </ion-avatar>
                <ion-label>
                  <h4>Embankment Plaza, 3rd Floor,<br/>
                    Longonot Road,<br/> off Kilimanjaro Avenue, Upperhill<br/>
                    P.O Box 74800-00200,<br/> Nairobi Kenya</h4>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-avatar slot="start">
                  <i class="fad fa-envelope fa-2x"></i>
                </ion-avatar>
                <ion-label>
                  <a href="mailto:corporate@cma.or.ke">
                  <h4>corporate@cma.or.ke</h4>
                  </a>
                </ion-label>
              </ion-item>
      
              <ion-item>
                <ion-avatar slot="start">
                  <i class="fad fa-phone fa-2x"></i>
                </ion-avatar>
                <ion-label>
                    <h4>Tel: +254 20 2264400/ 2264900/<br/> 2221910/ 2221869</h4>
                    <h4>Backup Wireless Line:<br/><a href="tel:0722207767">0722207767</a></h4>            
                    <h4>Backup Wireless Line: <br/><a href="tel:0202611464">020 2611464 </a></h4> 
                    <h4>Cell:  <a href="tel: +254722207767">+254 722 207767</a></h4>
                  
                </ion-label>
              </ion-item>
    
            </ion-list>
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
